html { 
    overflow:auto; 
}
body{
    height: 100%;
    overflow: scroll; 

}

main{
    /* overflow: scroll; */
    height: calc(100vh - 55px);
    /* width: 100vw; */
}
.menuOpenedAndGriser{
    overflow: hidden;
}
.box{
    display: flex;
    width: 100vw;
    /* height: 100vh; */
    /* overflow: scroll; */
    margin: 0;
}
.param{
    display: none;
    margin-top: 32px;
    margin-bottom: 48px;
    color: #222222;
    font-size: 32px;
    line-height: 38px;
    align-items: left;
    margin-top: 32px;

}
.form{
    margin-bottom: 32px;
    max-width: 350px;
    width: inherit;
}
.form>*{
    /* flex-shrink: 1; */
}
.mail{
    /* max-width: 100vw; */
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mail>.userMail{
    font-weight: 400;
}
.titre2{
    margin-top: 24px;
    line-height: 28px;
}
.input{
    /* width: 100%; */
}
@media (min-width: 1024px) {
    main{
    height: 100vh;

    } 
    .box{
        display: block;
        height: 100vh;
        overflow: scroll;
        margin-left: 32px;
    }
    .param{
        display: block;

    }
    .titre2{
        margin-top: 0;
        line-height: 28px;
    }
}